@tailwind base;
@tailwind components;
@tailwind utilities;

/* <!--====== Slick css ======--> */
@import "../public/assets/css/slick.css";
/* <!--====== Jquery ui css ======--> */
@import "../public/assets/css/jquery-ui.min.css";
/* <!--====== Custom css ======--> */
@import "../public/assets/css/custom.css";


html {
  scroll-behavior: smooth;
}

.Clestrix_provides {
  font-size: 18px;
  line-height: 28px;
}

body {
  font-family: 'Helvetica Neue', sans-serif;
}

.MuiButtonBase-root {
  text-transform: capitalize !important;
  font-size: 15px;
}

.Experience_the_best {
  background-color: rgb(255 191 35);
}

.CurveBg {
  background-image: url('/assets/images/download.svg');
  transform: scaleX(-1);
  height: 70px;
  width: 100%;
}

.join_clestrx {
  background-color: rgb(255 191 35);
  padding: 8px 37px;
  border-radius: 6px;
  border: 1px solid black;
  font-weight: 600;
  color: black;
}

.join_clestrx:hover{
  background-color: black;
  color: rgb(255 191 35);
}

.join_clestrx_2 {
  padding: 8px 10px;
}

.join_clestrx_3 {
  background-color: black;
  padding: 8px 14px;
  color: white;
}

.join_clestrx_3:hover{
  background-color: rgb(255 191 35);
  color: black;
}

.MuiBox-root button{
  color: black;
  margin-right: 8px;
}

.first_half{
  background-color: rgb(255,191,35);
}

.second_half{
  background-color: rgb(255,215,239);
}

.sub_but{
  background-color: rgb(255,191,35);
}

.css-ueuitw-MuiPaper-root-MuiAppBar-root{
  box-shadow: none !important;
}

.custom_max_width{
  max-width: fit-content;
}

.explore_your{
  letter-spacing: 2px;
}

.img_class{
  overflow: hidden;
}

.img_class img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.img_class:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

.first_div{
  background-color: black;
}

.third_div{
  background-color: #FFF9EA;
}
